<div class="filter-container">
      {{#if searchMode}}
      {{else}}
          <div class="category-list">
            <h2 class="text-success">Filtrar</h2>
              <label>
                <input type="checkbox" class="category-item" category="Profesor">Profesor
              </label>
              <label>
                <input type="checkbox" class="category-item" category="Estudiante">Estudiante
              </label>
          </div>
      {{/if}}
</div>
<div class="album py-5 bg-light ">
  <div>


    <div class="row justify-content-center">

      {{#if hasHerramientas}}

        {{#each herramientas as |herramienta|}}

          <div class="card col-md-3 book-item" category="{{herramienta.type}}" style="width: 18rem;">
                <img src="{{herramienta.image}}" class="card-img-top image" alt="{{herramienta.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{herramienta.name}}</h5>
                  <p class="card-text">{{herramienta.description}}</p>
                  <a href="/edit-tipos/{{herramienta.id}}?edit=true"class="btn btn-warning">Detalles</a>
                </div>
          </div>
      {{/each}}

      {{else}}
      <h1>No hay herramientas en la base de datos</h1>
      {{/if}}

    </div>
  </div>
</div>