<div class="filter-container">
      {{#if searchMode}}
      {{else}}
          <div class="category-list">
            <h2 class="text-success">Filtrar</h2>
              <div class="form-check">
                <input class="form-check-input category-item" type="checkbox" category="Profesor" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Profesor</label>
              </div>
              <div class="form-check">
                <input class="form-check-input category-item" type="checkbox" category="Estudiante" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Estudiante</label>
              </div>
          </div>
      {{/if}}
</div>
<h1 class="text-center">Herramientas</h1>
<div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">

      {{#if hasHerramientas}}

        {{#each herramientas as |herramienta|}}

              <div class="card book-item" category="{{herramienta.type}}">
                  <div class="card-horizontal">
                      <div class="img-square-wrapper">
                          <img class="img" src="{{herramienta.image}}" alt="{{herramienta.name}}">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title">{{herramienta.name}}</h3>
                          <p class="card-text">{{herramienta.description}}</p>
                          <div class="d-flex">
                            <a class="btn btn-primary" href="{{herramienta.link}}">Ver más</a>
                          </div>
                      </div>
                  </div>
              </div>
      {{/each}}
        </div>
        </div>
        </div>
      {{else}}
      <h1>No hay herramientas en la base de datos</h1>
      {{/if}}

    </div>
  </div>
</div>